{
    "env": {
        "development": {
            "presets": [
                ["es2015", {"loose": true}], "stage-0"
            ]
        }
    },
    /* Add plugins here**/
    "plugins": ["babel-plugin-syntax-jsx", "babel-plugin-inferno"]
}
