{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 9" ]
      }
    }],
    ["es2015", {
      "loose": true, "modules": false
    }],
    "stage-0"
  ],
  "plugins": [
    "syntax-decorators",
    "transform-class-properties",
    "babel-plugin-syntax-jsx", 
    ["babel-plugin-inferno", {"imports": true}]
  ]
}
